@model UtilizatorModel

<div class="container">
    <h1 class="text-center">Login</h1>
    <div class="row">
        <div class="mx-auto w-50">
            <form id="account" asp-controller="Authentication" asp-action="Login" method="post">
                <div class="form-group">
                    <label asp-for="NumeUtilizator" class="control-label">Nume Utilizator</label>
                    <input asp-for="NumeUtilizator" class="form-control bg-light" />
                    <span asp-validation-for="NumeUtilizator" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Parola" class="control-label">Parola</label>
                    <input asp-for="Parola" class="form-control bg-light" type="password" />
                    <span asp-validation-for="Parola" class="text-danger"></span>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    if (ViewData.ModelState[string.Empty] != null)
                    {
                        <div class="error-summary">
                            @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                            {
                                <div class="error-item text-danger">
                                    @error.ErrorMessage
                                </div>
                            }
                        </div>
                    }
                }
                <br />
                <button type="submit" class="btn btn-primary mt-3">Log in</button>
            </form>
        </div>
    </div>
</div>