@model List<UtilizatorViewModel>
@{
    ViewBag.Title = "User Roles";
}

<h2>User Roles</h2>
<form asp-action="UpdateRoles" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].UserName</td>
                    <td>
                        <select asp-for="@Model[i].SelectedRole" asp-items="ViewBag.Roluri" class="form-control"></select>
                        <input type="hidden" asp-for="@Model[i].UserId" />
                        <input type="hidden" asp-for="@Model[i].UserName" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>